<a href="https://colab.research.google.com/github/gabrielwithappy/Python_study/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

## Multi-Level Indexes (Hierachical Indexes)

In [1]:
import pandas as pd
df = pd.DataFrame({'breed': ['a', 'b', 'c'], 'color': ['red','blue','greed'], 'height':[10,20,30], 'weight':[7,9,10]})
df

  breed  color  height  weight
0     a    red      10       7
1     b   blue      20       9
2     c  greed      30      10

In [8]:
df_multi_index = df.set_index(['breed', 'color'])

In [10]:
# indexing multi-index
rows_0_to_1 = df_multi_index .loc[[('a', 'red'), ('b','blue')]]
rows_0_to_1

             height  weight
breed color
a     red        10       7
b     blue       20       9

# Sort Index (Multi Index)

In [11]:
df_multi_index.sort_index(level=['breed', 'color'], ascending=[False, True])

             height  weight
breed color
c     greed      30      10
b     blue       20       9
a     red        10       7

# Python

## 위치 인수, 키워드 함수, 리스트

In [ ]:
def foo(a:int, b:int, c:int) -> int:
  print(f"{a} + {b} + {c} = {a+b+c}")

foo(*[1,2,3])
params = [3,3,3]
foo(*params)

In [ ]:
# 리스트 언패킹을 사용하여 parameter를 전달한다.
def many_parameters(*args):
  for idx, arg in enumerate(args):
    print(f"{idx}th argument : {arg}")

print("*args 함수 테스트")
many_parameters(1,2,3,4,5,'a','b','c')

print("")
print("*args 함수 테스트 with 리스트 언패킹")
params = [1,2,3,4,5,'test']
many_parameters(*params)

*args 함수 테스트
0th argument : 1
1th argument : 2
2th argument : 3
3th argument : 4
4th argument : 5
5th argument : a
6th argument : b
7th argument : c

*args 함수 테스트 with 리스트 언패킹
0th argument : 1
1th argument : 2
2th argument : 3
3th argument : 4
4th argument : 5
5th argument : test

In [ ]:
# 가변인수 만들기
def many_parameters(*args):
  for idx, arg in enumerate(args):
    print(f"{idx}th argument : {arg}")

print("")
many_parameters(1,2,3,*[4,5])



# 고정변수와 가변인수 같이 사용하기
# 항상 고정변수가 가변인수보다 먼저 나와야 한다.
def param_with_params(a, *args):
  print(f"{a}", end = " ")
  for idx, arg in enumerate(args):
      print(f"{arg}", end = " ")

print("")
param_with_params('I', *['am','a','boy'])

0th argument : 1
1th argument : 2
2th argument : 3
3th argument : 4
4th argument : 5

I am a boy

In [ ]:
def book_info(name, pages):
  print(f"book {name} is {pages} pages")

book_info(pages=200, name="python")

book python is 200 pages

In [ ]:
## 키워드 인수와 딕셔너리 언패킹
def product_info(name:str, height:int, width:int, weight:int, price:int):
  print(f"Product[{name}] is ({height}x{width}), {weight}kg and the pricce of {price}")

product_info(**{'name':"TV", 'height':300, 'width':300, 'weight':5, 'price':1000000})


def product_info2(name:str, size:dict):
  print(f"product {name} is {size['height']} x {size['width']}")

product_info2(**{'name':'Car', 'size': {'height':1000, 'width': 1000}})

Product[TV] is (300x300), 5kg and the pricce of 1000000
product Car is 1000 x 1000

In [ ]:
## 디폴트 인수
def default_test_function(name="no name" , pages=1):
  info = (f"book {name} is {pages} pages")
  return info

print(default_test_function())

book no name is 1 pages

In [ ]:
# list는 처음생성된 리스트 객체의 주소를 다시 반환하기 때문에 원치않은 결과가 나올 수 있다.
def default_test_list(x , l=[10]):
  l.append(x)
  return l

r= default_test_list(20)
print(r)

l= default_test_list(100)
print(l)

print(r is l)

[10, 20]
[10, 20, 100]
True